*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
}

.body-container
{
    border: 2px solid red;
    display: flex;
    flex-direction: column;align-items: center;
}

.title
{
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 175px;
}

.grid-container
{
    width: 379px;
    height: 404px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-container>div
{
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.grid-container>div:nth-child(16n + 1)
{
    width: 100%;
    border: 0;
    height: 0;
}