*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title
{
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 100px;
}

.container
{
    display: grid;
    width: 25rem;
    height: 30rem;
    background: silver;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
}

.clear-button
{
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    margin: 5rem 0 0 0;
}